@import "../includes/dependencies";

/* SEARCH */

.searchForm {
  margin-left: auto;
  margin-right: auto;

  .wrapper-search {
    display: flex;

    .fas.fa-search {
      margin-top: 5px;
      margin-right: -45px;
      color: @orange;
      text-shadow: 1px 1px 1px grey;
      transition: margin-right 0.3s;
    }

    #search {
      border-radius: 20px;
      padding: 20px 0 20px 50px;
      background-color: white;

      &:focus {
        .box-shadow(@noir-50);
      }
    }
  }
}

.results {
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px 0 50px;

  & > h2 {
    color: @noir-80;
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 30px;

    &:before {
      content: '';
      background-color: #f87f17;
      padding-right: 6px;
      margin-right: 5px;
    }
  }

}