@import "../includes/dependencies";

/* SIGN IN */

.login-form {
  padding: 80px 20px;
  top: 50vh;
  transform: translateY(-60%);
  position: absolute;
  background-image: linear-gradient(white, @blanc-80);
  margin: 0 auto 0 auto;
  .box-shadow(@blanc-50);

  .error {
    margin-top: 20px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 21px;
    text-align: center;
  }

  p {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    color: gray;
  }

  input {
    height: 50px;
    line-height: 50px;
    width: 80%;
    margin: 20px auto;
  }

  button {
    width: 80%;
    padding: 15px;
    margin-left: 10%;
  }
}